
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(../../assets/fonts/Roboto-Bold.ttf) format('ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

*{
    margin:0;
    padding: 0;
  }
  
  body{
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;

  }

.neswletterComponent{
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 2%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    font-family: 'Roboto';
    font-weight: 400;

}

main{
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 2%;
}
h1{
    padding:1%;
    margin:2% 1%;
    font-size: 2.5rem;
    font-family: 'Arial';

    font-weight: 700;

}
p{
    padding:1%;
    text-align: left;
}
.image{
    width: 60%;
    border-radius: 0;

}
.mobileImage{
    width: 100%;
    border-radius: 0;

}
.iconSuccess{
    width: 5%;
    margin: 0 3% 0 0;
}
.ulList{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding:1%;
    margin:3% 0;
}
.ulList li{
    display:flex;
    list-style-type: none;
    font-size: 15px;
    margin: 1%;

}
form{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-self: flex-start;
    text-align: left;
    width:100%;
    margin: 4% 0;

}
.formLabel{
    flex: 0 40%;
    font-weight: 700;
    font-size: 13px;

}

.formInput{
    padding:3%;
    margin: 2%;
    width: 83%;
    border-radius: 8px;
    cursor: pointer;

}
.errorFormInput{
    padding:3%;
    margin: 2%;
    width: 83%;
    border-radius: 8px;
    cursor: pointer;
    background-color:  hsl(4, 100%, 67%, 0.3);
    color:  hsl(4, 100%, 67%);
    border-color:  hsl(4, 100%, 67%);
}
.formLabel{
    display:flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.errorMessage{
    flex: 0 40%;

    color: hsl(4, 100%, 67%);
    font-size: 13px;
    font-weight: 700;

}
.formButton{
    padding: 3%;
    margin: 2%;
    width:90%;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    cursor: pointer;


}

.formButton:hover{
    background: rgb(255,84,120);
background: linear-gradient(90deg, rgba(255,84,120,1) 0%, rgba(255,103,64,1) 58%);
}

@media all and (max-width:  400px) { 
    .neswletterComponent{
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    
    }
    h1{
        text-align: left;

    }

    p{
        text-align: left;
        margin: 1%;

    }
    .ulList li{
        text-align: left;
    }
   



}